/*color: #FCEEE4;
--liver-chestnut: #8C6E5D;
--desert-sand: #DABAA2;
--space-cadet: #353559;
--rhythm: #73748B;*/

@font-face {
	font-family: "Romanica";
	src: url("font/Romanica.ttf") format("Truetype");
}
@font-face {
	font-family: "Caesar";
	src: url("font/CAESAR.TTF") format("Truetype");
}

* {
	margin: 0;
	padding: 0;
	font-family: Romanica;
}

a {
	text-decoration: none;
	color: #fffa9d;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: #FCEEE4;
	color: #514538;
	position: relative;
  	min-height: 100vh;
}

#pic-popup {
	position: fixed;
	height: 70%;
	border-radius: 10px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	visibility: hidden;
}

#dark-bg {
	position: fixed;
	background-color: #514538;
	opacity: 0.7;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	visibility: hidden;
}


header {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #514538;
}

header img {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 5px;
}

nav {
	width: 100%;
	margin: auto 200px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

nav ul li {
	margin: 0 10px;
}

#hero h1 {
	font-family: Caesar;
	font-size: 10vw;
	color: #ffe79f;
	text-shadow: black 2px 2px 5px;
}

#hero {
	height: 450px;
	background-image: url("img/herobg.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main h2 {
	font-size: 5vw;
}

main article {
	display: flex;
	align-items: center;
	margin: 50px;
}

main article:nth-child(2) {
	animation: slide-right 1s ease-out 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

main article:nth-child(3) {
	flex-direction: row-reverse;
	animation: slide-left 1s ease-out 3s;
	animation-fill-mode: forwards;
	opacity: 0;
}

main article:nth-child(4) {
	animation: slide-right 1s ease-out 4.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

article p {
	margin: 20px;
	text-align: center;
	font-size: 20px;
}

article img {
	height: 250px;
	border-radius: 10px;
	box-shadow: black 2px 2px 10px;
}

footer {
	color: #ffe79f;
	background-color: #514538;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#galerie {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	gap: 30px;
	margin: 50px;
 }

 #galerie img {
	width: 70%;
	border-radius: 5px;
	transition: box-shadow 200ms;
	box-shadow: none;
	cursor: pointer;
 }

 #galerie img:hover {
	box-shadow: #514538 0px 0px 8px;
 }

 #contact h2 {
	margin-top: 40px;
 }

 #contact-form {
	min-width: 400px;
	width: 50%;
	margin-top: 90px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	gap: 20px;
 }

 #name {
	grid-row: 1/2;
	grid-column: 1/2;
 }

 #email {
	grid-row: 1/2;
	grid-column: 2/3;
 }

 #message {
	grid-row: 2/3;
	grid-column: 1/3;
	resize: none;
 }

 #name, #email, #message {
  width: 100%;
  padding: 10px;
  border: 1px solid #FCEEE4;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
  background-color: #ffe79f;
  color: #514538;
  transition: background-color 200ms, color 200ms;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  grid-row: 3/4;
  grid-column: 1/3;
}

#submit:hover {
	background-color: #514538;
	color: #ffe79f;
}

@media screen and (max-width: 600px) {
	#pic-popup {
		height: auto;
		width: 80%;
	}

	header {
		height: 200px;
		flex-direction: column;
		justify-content: space-around;
	}
	header img {
		position: initial;
	}
	header nav {
		margin: 0;
	}
	header nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header nav ul li {
		margin: 5px 0;
	}
	#hero {
		height: 200px;
	}
	main article, main article:nth-child(3) {
		flex-direction: column;
	}
	#galerie {
		display: grid;
		grid-template-columns: 1fr;
		gap: 80px;
	}
	#galerie img {
		width: 100%;
	}
	#contact-form {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 3fr 1fr;
		min-width: 100px;
	}
	#name {
		grid-row: 1/2;
		grid-column: 1/2;
	 }
	
	 #email {
		grid-row: 2/3;
		grid-column: 1/2;
	 }
	
	 #message {
		grid-row: 3/4;
		grid-column: 1/2;
	 }

	 #submit {
		grid-row: 4/5;
		grid-column: 1/2;
		font-size: 15px;
	 }
}


@keyframes slide-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
